.container {
    flex-grow: 1;
}

.room-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(66, 66, 66);
    gap: 20px;
    width: 30%;
    padding: 40px;
    border-radius: 30px;
}

.room button {
    width: 80%;
    padding: 0;
    cursor: pointer;
}


button:hover {
    cursor: pointer;
}

.room input {
    width: 80%;
    padding: 0;
}

.room h3 {
    margin: 0;
    color: chocolate;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


input[type=text]:focus {
    border: 3px solid #555;
    transform: scale(1.1);
}