.ingame-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.gameboard {
    height: 100%;
    flex-grow: 2;
    background-color: rgb(129, 157, 182);
}

.scoreboard {
    height: 100%;
    flex-grow: 1;
    background-color: aquamarine;
}