.selection {
    display: flex;
    flex-direction: row;
}

.button:hover {
    transform: scale(1.1);
}

.img {
    height: 50px;
    width: 50px;
}

.round-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin: 2px;
    cursor: pointer;
}